*{	
	font-family: 'Helvetica';
}
body, html{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
a{
	text-decoration: none;
	color:inherit;
}
.hide{
	display: none;
}
.header{
	background: #1E88E5;
}
.nav{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
.cart{
	float: right;
	padding:10px 20px;
}
.cart__img{
	color:white;
	float: left;
	padding-left: 20px;
}
.nav__item{
	
}
.join{
	float: left;
}
.nav__item__link{
	text-align: center;
	padding:10px 20px;
	text-transform: uppercase;	
	display: inline-block;
	color:white;
	transition: color 0.3s;
	transition: background 0.3s;

}
.top-menu{
	transition: color 0.3s;
	transition: background 0.3s;
	color:white;
}
.nav__item__link:hover{
		background-color:#42A5F5; 
}
.nav__item__link__type_hover:hover{
	color:#BBDEFB;

}
.middle-container{
	width:1200px;
	margin: 0 auto;
	max-width: 100%;
}
.product, .cart-clear{
	text-align: center;
	margin-top: 20px;
}
.product_item{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
	text-align: left;
}
.product__btn,
.product__picture{
	vertical-align: middle;
}
.clear:after{
	display: table;
	clear: both;
	content: '';
}
.product__btn{
	text-align: center;
}
.btn{
	background:#1E88E5;
	text-decoration: none;
	color:white;
	min-width: 150px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	border-radius: 1px;
	padding:0 10px;
	transition: .3s;
}
.btn:hover{
	background:#42A5F5;
}
.product__description{
	width: 30%;
}
.message{
	position: fixed;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	color:white;
	border-radius: 1px;
	width: 400px;
	text-align: center;
}
.message > p{
	width: 100%;
	margin: 0;
	padding: 1em;
	border-top: 1px solid #eee;
	box-sizing: border-box;
}
.message > p:first-child{
	border: none;
}
.message_error{
	background:rgba(253,69,1,0.8);
}
.message_success{
	background:rgba(83,255,85,0.8);
}
.default-avatar-option{
	width:20%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	cursor:pointer;
}
.default-avatar-option__img{
	width: 100%;
}
.trigger-open-modal-avatar-profile{
	cursor: pointer;
}
#modal{
	max-height: 600px;
	display: none;
}
@media (max-width: 360px) {
	.product__description{
		display: block;
		margin: 0 auto;
    width: 50%;
    text-align: center;
	}
	.product_item{
		margin-right: auto;
	}
}
