	<header class="header">
		<nav class="middle-container clear">
			<div class="logo">
				<img src="#" alt="" class="logo__img">
			</div>
			<ul class="nav">
				<li class="nav__item">
					<a href="/" class="nav__item__link">Домой</a>
					<a href="#" class="nav__item__link">Меню</a>				
				</li>
			</ul>
			<div class="cart">
				{% if user.is_authenticated %}
				Привет <a href="{% url 'profile' %}">{{user.username}} </a>
				{% else %}
				<a href="{% url 'sign_in' %}" class="top-menu">войти</a>
				{% endif %}
				<div class="cart__img">
					<span class="cart__count">{{count}}</span>
					<span class="cart__summ">{{price}}</span>₽
					<a href="/cart">Корзина</a>
				</div>
			</div>
		</nav>
	</header>